<template>
  <div class="Wrapper">
    <div class="FormBlock">
      <form @submit.prevent="OnSubmit()">
        <div class="InputsBlock">
          <div>
            <h3 class="Text">Имя</h3>
            <input
              type="text"
              name="name"
              class="Name Input"
              v-model="Name"
              placeholder="Name"
            />
          </div>
          <div>
            <h3 class="Text">Возраст</h3>
            <input
              type="text"
              name="age"
              class="Age Input"
              v-model="Age"
              placeholder="Age"
            />
          </div>
          <button class="Submit" type="submit">Показать</button>
        </div>
      </form>
    </div>
    <div class="SecondWrap">
      <div class="First">
        <h2>Люди до 25</h2>
        <div v-for="item of Storage" :key="item.id">
          <div class="mini-wraps" v-if="item.age <= 25">
            <div class="ItemBlocks">
              <h1>{{ item.name }}</h1>
              <div class="AgeBlock">
                <p>Age</p>
                <p>{{ item.age }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Line"></div>
      <div class="Second">
        <h2>Люди до 50</h2>
        <div v-for="item of Storage_50" :key="item.id">
          <div v-if="item.age >=25 && item.age <= 50">
            <div class="ItemBlocks">
              <h1>{{ item.name }}</h1>
              <div class="AgeBlock">
                <p>Age</p>
                <p>{{ item.age }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Line"></div>
      <div class="Third">
        <h2>Остальные</h2>
        <div v-for="item of Storage_60" :key="item.id">
          <div class="mini-wraps" v-if="item.age > 50">
            <div class="ItemBlocks">
              <h1>{{ item.name }}</h1>
              <div class="AgeBlock">
                <p>Age</p>
                <p>{{ item.age }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      Name: "",
      Age: "",
      Storage: [],
      Storage_50: [],
      Storage_60: [],
    };
  },
  methods: {
    OnSubmit: function () {
      event.preventDefault();

      let obj = {};
      let fm = new FormData(event.target);
      fm.forEach((value, key) => {
        obj[key] = value;
      });

      this.Storage.push(obj);
      this.Storage_50.push(obj);
      this.Storage_60.push(obj);
      this.Name = "";
      this.Age = "";
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Wrapper {
  padding: 0 3rem;
}
.FormBlock{
  margin-top: -40px;
}
.InputsBlock {
  width: 565px; 
  display: flex;
  justify-content: space-between;
}
.Text{
  color: black;
}
.Input {
  padding: 0 1rem;
  height: 45px;
  width: 180px;
  border-radius: 5px;
  border-color: transparent;
  border: 2px solid #f0f0f0;
  outline: #f0f0f0;
  transition: .3s ease-in;
}
.Line {
  margin-top: 10px;
  width: 4px;
  border-radius: 10px;
  height: 500px;
  background-color: lightgrey;
}
.SecondWrap {
  margin-top: 60px;
  width: 1420px;
  display: flex;
  justify-content: space-between;
}
.Submit{
  width: 100px;
  height: 48px;
  border-color: transparent;
  background-color: blue;
  border-radius: 5px;
  color: white;
  margin-top: 61px;
  transition: .3s ease-in;
}
.Submit:hover{
  box-shadow: 2px 2px white, 4px 4px blue;
  top: -4px;
  left: -4px;
}
.Input:hover{
  /* border: 2px solid greenyellow; */
   box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
   border-color: transparent;
}
.ItemBlocks {
  margin: 10px;
  text-align: start;
  width: 360px;
  height: 150px;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border: 2px #f0f0f0 solid;
  border-radius: 15px;
  margin-left: 0px;
  transition: .3s ease-in;
}
.ItemBlocks:hover{
  box-shadow: 6px 6px white, 16px 16px brown;
}
.First {
  text-align: start;
}
.Second {
  text-align: start;
}
.Third {
  text-align: start;
}
.AgeBlock {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 0 1rem;
}
h2 {
  text-align: start;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
